:root {
    --cocoa-brown: #332027;
    --cocoa-brown-light-1: #46303A;
    --cocoa-brown-light-2: #5A404D;

    --selective-yellow: #FCB500;
    --selective-yellow-light: #FFC526;
    --selective-yellow-dark: #D79600;
}

/* Tipografía global */
div,
label,
input,
p,
span,
a,
button {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Product Sans", sans-serif;
  color: var(--text-color);
}

body {
  background-color: var(--cocoa-brown);
}